
<!-- Login fragment -->
<main>
    <section id="login_section">
        <div id="login_mismatch"></div>
        <h4>Login:</h4>
        <form id="login_form" action="/" method="post">
            <input type="text" name="username" id="login_username" placeholder="Username" required>
            <input type="text" name="password" id="login_password" placeholder="Password" required>
            <button type="submit" onclick="validateLogin()">Login</button>
        </form>
    </section>

    <section id="create_user_section">
        <h4>If you don't exist already, sign up!:</h4>
        <form id="create_user_form">

            <label for="new_user_username">Username*: </label>
            <input type="text" id="new_user_username" placeholder="username..." max="40" required>

            <label for="new_user_password">Password*: </label>
            <input type="password" id="new_user_password" placeholder="password..." max="40" required>

            <label for="new_user_description">Description: </label>
            <textarea id="new_user_description" placeholder="write something about yourself..."></textarea>

            <label for="new_user_gender">Gender*: </label>
            <select id="new_user_gender" required>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
            </select>

            <button type="submit" onclick="createUser()">Sign up</button>
        </form>
    </section>
</main>